* {
  margin: 0%;
  padding: 0%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  background-color: hsl(193, 23%, 76%);
}

.inputButtons {
  width: 45px;
  height: 40px;
  background-color: hsl(172, 69%, 50%);
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.23s ease-in-out;
}

.inputButtons:hover {
  -webkit-box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.2);
  background-color: hsl(172, 65%, 45%);
  border-radius: 5px 20px 5px 20px;
}

.inputButtons:active {
  background-color: hsl(172, 50%, 22%);
  -webkit-box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.62);
  -moz-box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.62);
  box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.62);

}

#functions {
  margin-bottom: 10px;
}

p {
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 10px;
}

input {
  width: 57px;
  height: 30px;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#inputs1 {
  margin-bottom: 10px;
}

#inputs2{
  margin-bottom: 10px;
}

#wrapper {
  width: 300px;
  height: 450px;
  background-color: hsla(0, 0%, 27%, 0.466);
}

#close{
 width: 30px;
 height: 40px;
 background-color: hsl(327, 49%, 57%);
 border: none;
 border-radius: 5px 20px 20px 5px;
 margin-left: 5px;
}

#close:hover{
  -webkit-box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 24px -2px rgba(34, 60, 80, 0.2);
  background-color: hsl(327, 26%, 45%);
}

#close:active{
  background-color: hsl(328, 25%, 20%);
}

#contanier{
  position: relative;
  display: flex;
  flex-direction: row;
  transition: all 1s ease-in-out;
}

.in{
  left: -295px;
}
.out{
  left: 0px;
}

#controls{
  margin-bottom: 10px;
}
