@charset "utf-8";
@import url("fonts/AvantGarde/stylesheet.css");

* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
}

html {
  background-color: #202020;
}

body {
  color: rgb(194, 194, 194);
  min-height: 100vh;
  font-size: 1.3em;

}

.headerHrefs {
  color: #030303;
}



a:hover {
  font-style: italic;
  background-color: brown;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
}

header{
  position: relative;
  background-color: #587881;
  height: 50px;
  z-index: 3;
}

footer {
  background-color: #2e2e2e;
  height: 50px;
  clear: left;
  font-size: .7em;
  color: #8aa7af;
  margin-top: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.headerDiv {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  overflow: auto;
}

span.side {
  font-size: 2em;
}

.upper {
  position: relative;
  z-index: 2;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  overflow: auto;
  color: rgb(212, 212, 212);
  text-align: justify;
  opacity: 1;
  font-size: 1.5em;
}

.upper::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.headerDiv.right {
  text-align: right;
}

.headerDiv.center {
  text-align: center;
}

#wordsFirst {
  display: flex;
  height: 200px;
  width: 600px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}
#wordsFirst div.up {
  display: inline-block;
  margin-bottom: 5%;
}

#wordsFirst div.left {
  margin-right: 100px;
}

#wordsFirst div.right, #wordsFirst div.left {
  width: 250px;
  
}

#wordsFirst div.down div, #wordsFirst div.up div  {
  display: inline-block;
  width: 250px;
  text-align: justify;
  text-align-last: justify;
}

#welcome {
  text-align: justify;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  overflow: auto;
  font-size: 1.7em;
}

#welcome span {
  font-size: 2em;
}

#welcome::after {
  content: "";
  display: inline-block;
  width: 100%;
}


footer span{
  margin-top: 35px;
}

#fsp{
  float: left;
  margin-left: 10px;
}
#ssp{
  float: right;
  margin-right: 10px;
}


#secondSpan{
  float: right;
}


.content{
  min-height: calc(100vh - 175px);
}

/* Для мобильной версии, хедер, заголовок , первая секция, привествие и новости*/

@media screen and (max-width: 700px) {

  

  header{
    height: 40px;
  }

  nav{
    width: 300px;
  }

  .headerDiv{
    width: 100px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 0.7em;
  }

  span.side {
    font-size: 2em;
  }

  .upper {
    font-size: 0.7em;
    width: 300px;
    margin-top: 20px;
  }

  #wordsFirst {
    height: 200px;
    width: 300px;
    margin-top: 50px;
  }

  #wordsFirst div.left {
    margin-right: 60px;
    
  }

  #wordsFirst div.right, #wordsFirst div.left {
    width: 120px;
    
  }
  
  #wordsFirst div.down div, #wordsFirst div.up div  {
    width: 120px;
    font-size: 0.7em;
  }

  #welcome {
    width: 300px;
    margin-top: 70px;
    font-size: 1.5em;
  }
  
  #welcome span {
    font-size: 2em;
  }

  .content{
    min-height: calc(100vh - 160px);
  }
}
  